//  ======= Variables ============================
//  ==============================================
//  Change main snippet's propriety easily

//  es. $s_openstreet_map-desc-bg: red;

$s-openstreet-map-desc-alpha: 0.80;
$s-openstreet-map-desc-hover-alpha: 0.55;
$s-openstreet-map-desc-bg: black;
$s-openstreet-map-desc-hover-bg: black;
$s-openstreet-map-desc-p-color: white;

//  ========= hooks(hook) =====================================
//  ===========================================================
//  Use them to inject NEW rules or overwrite the old ones.
//  This method is more maintenable than classic css overwrite
//  'couse it works also if the snippet's structure will change.

//  How to:
//  in your theme, just call the backdoor like a normal
//  CSS class adding parethesis at the end ".backdoor-name()"
//  (this will prevent the creation of a standard CSS class).
//  Add your rules inside. Your style will take the priority.
//  Done.

//  @mixin s-openstreet-map-hook {
//    background: red;
//    min-height: 200px;
//  }

@mixin s-openstreet-map-hook {}
@mixin s-openstreet-map-desc-hook {}
@mixin s-openstreet-map-desc-p-hook {}
@mixin s-openstreet-map-desc-span-hook {}
